@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

h2 {
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image: url('/src/image/bg.jpeg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
    height: 100vh;
    color: #e0e0e0;
}

#banner {
    width: 158px; 
    height: 190px;
    max-height: 600px; 
    margin-right: 20px;
    position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%); 
    object-fit: cover;
    border-radius: 12px; 
    display: block;
}


h1, h2, p {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
    font-size: 2.5em;
    color: #ffffff;
    display: flex;
    width: 100%;
    padding-left: 0;
    line-height: 1.4;
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.container {
    padding: 20px;
    background-color: rgba(28, 28, 28, 0.6);
    border-radius: 12px;
    max-width: 900px;
    width: 100%;
    box-sizing: border-box; 
    margin: 20px auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    font-size: 1.1em;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 90vh;
    overflow: auto; 
}

.container h2 {
    font-size: 2.8em;
    font-weight: 700;
    margin-bottom: 15px;
}

.container p {
    font-size: 1.25em;
    color: #b0bec5;
    line-height: 1.7;
    margin-top: 15px;
}

.container a {
    color: #80cbc4;
    text-decoration: none;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
    color: #4db6ac;
}
#links {
    margin-top: 200px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    width: 48%;
    max-width: 800px;
    margin: 20px auto;
}

#links img {
    transition: transform 0.3s ease;
    width: 40px;
    height: auto;
}
#links img:hover {
    transform: scale(1.2); 
}

